/* The topbar menu */


/* The sidebar menu */
.body {
  background-color: #1D2739;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 69; /* Stay at the top */
  left: 0;
  background-color: #1D2739; /* Cor de fundo */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav li:first-child{
  border-top: 1px #e5e5e5 solid;
}

.sidenav li{
  border-bottom: 1px #e5e5e5 solid;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #D9B310;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  height: 100%;
  background: -webkit-linear-gradient(top, #8cdff1 20%, #36c7c7 100%);
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

div.titulo {
  background-color:#1D2739;
  text-align: center;
  color: #D9B310;
}

div.opDiv1 {
  width: 38%;
  display: inline-block;
  background-color: white;
  font-size: 3vw;
  text-align: center;
  padding: 5vw 0vw 5vw 0vw;
  min-width:40vw;
}

div.opDiv2 {
  width: 38%;
  background-color: white;
  display: inline-block;
  margin-right: 0vw;
  font-size: 3vw;
  text-align: center;
  padding: 5vw 0vw 5vw 0vw;
  min-width:40vw;
  float:right;
}

#textNav {
  color: #D9B310;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
}

.btn-group {
width: 100%;
}

#about {
  font-size: 18;
}

.footer {
  position:absolute;
  bottom:0;
}

#luzesWall img {
  max-width:1080px;
  max-height:768px;
  width: 100%;
  height: 70%;
}

#quadroVideo {
  height: 455px;
  width: 455px;
  background-color: rgb(104, 139, 139);
  border-width: 10px;
  border-style: groove;
  border-color: rgb(23, 65, 156);
}